<!-- section -->
        <div class="section pt-0" id="about-us">
          <div class="container">
            <div class="two-column-layout1">
              <div class="row">
                <div class="col-md-6">
                  <div class="col-xl-10 d-flex flex-column h-100">
                    <div class="description mt-auto">
                      <h2><span>{{ section.settings.section-name }}</span>{{ section.settings.heading }}</h2>
                      {{ section.settings.content }}
                      <a href="{{ section.settings.button-url }}" class="btn btn-outline-secondary">{{ section.settings.button-label }}</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <figure class="figure1">
                    <img src="images/image1.jpg" class="w-100" alt="img">
                  </figure>
                </div>
              </div>
            </div>
            <ul class="list1">
              {% for block in section.blocks %}
              	{% case block.type %}
              		{% when 'point' %}
                      <li>
                        <i class="icon">
                          <img src="{{ block.settings.point-image | image_url }}" alt="{{ block.settings.point-image.alt }}">
                        </i>
                        <span>{{ block.settings.point-content }}</span>
             	{% endcase %}
			  {% endfor %}
            </ul>
          </div>
        </div>
        <!-- /section -->


{% schema %}
  {
    "name": "About Us",
    "settings": [
		{
			"type": "text",
			"id": "section-name",
			"label": "Section Name",
			"default": "About Us"
		},
		{
			"type": "text",
			"id": "heading",
			"label": "Heading",
			"default": "Heading to go here"
		},
		{
			"type": "richtext",
			"id": "content",
			"label": "Content",
			"default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>"
		},
		{
			"type": "text",
			"id": "button-label",
			"label": "Button Label",
			"default": "Contact Us"
		},
		{
			"type": "text",
			"id": "button-url",
			"label": "Button URL",
			"default": "#Contact Us"
		}
	],
	"blocks": [
		{
			"name": "Point",
			"type": "point",
			"settings": [
				{
                   "type": "image_picker",
                   "id": "point-image",
                   "label": "Image"
                },
				{
                   "type": "text",
                   "id": "point-content",
                   "label": "Content",
                   "default": "Add content here"
                }
			]
		}
	],
	"presets": [
		{
			"name": "About Us Section"
		}
	]
  }
{% endschema %}