{% assign i = 1 %}
{{ i }}
<div id="banner">
        <div class="owl-carousel carousel1">
          {% for block in section.blocks %}
          	{% case block.type %}
          	  {% when 'banner' %}
                <div class="item">
                  <div class="row">
                    <div class="col-md-5">
                      <div class="description bg-pattern1">
                        <div class="inner-wrapper">
                          <h1>{{ block.settings.heading }}</h1>
                          {{ block.settings.content }}
                        </div>
                      </div>
                    </div>
                    <div class="col-md-7">
                      <figure class="figure1">
                        <img src="{{ block.settings.image | image_url }}" class="w-100" alt="banner-image">
                      </figure>
                    </div>
                  </div>
                </div>
         	{% endcase %}
          {% endfor %}
        </div>
        <button id="scroll-down">
          <i class="icon">
            <img src="{{ 'arrow-down.png' | asset_url }}" alt="img">
          </i>
        </button>
      </div>
      <!-- /banner -->


{% schema %}
  {
    "name": "Banner With Text",
    "settings": [],
	"blocks": [
		{
			"name": "Banner",
			"type": "banner",
			"settings": [
				{
					"id": "heading",
					"type": "text",
					"label": "Heading"
				},
				{
					"id": "content",
					"type": "richtext",
					"label": "Content"
				},
				{
					"id": "image",
					"type": "image_picker",
					"label": "Banner Image"
				}
			]
		}
	],
	"presets": [
		{
			"name": "Banner With Text",
			"blocks": [
				{
					"type": "banner"
				}
			]
		}
		]
  }
{% endschema %}
