<!-- section -->
        <div class="section bg-secondary pb-0" id="services">
          <div class="container">
            <h2 class="text-white text-lg-center mb-5"> {{ section.settings.heading }} </h2>
            <ul class="list2">
              {% for block in section.blocks %}
              	{% case block.type %}
              	  {% when 'service' %}
                    <li>
                      <i class="icon">
                        <img src="{{ block.settings.service-image | image_url}}" alt="{{ block.settings.service-image.alt }}">
                      </i>
                      <div class="content-wrapper">
                        <h3>{{ block.settings.service-heading }}</h3>
                        {{ block.settings.service-content }}
                      </div>
                    </li>
             	{% endcase %}
              {% endfor %}
            </ul>
            <div class="box1 pulled-down">
              <div class="row">
                <div class="col-md-8 mx-auto">
                  <h2>Looking for another service?</h2>
                  <p>We’re proud to offer a bespoke service, so please get in touch and we will assist you with anything you need.</p>
                  <a href="#" class="btn btn-outline-secondary">Contact Us</a>
                </div>
              </div>
            </div>
          </div>
        </div>
<!-- /section -->


{% schema %}
  {
    "name": "Our Services",
    "settings": [
		{
			"type": "text",
			"id": "heading",
			"label": "Heading"
		}
	],
	"blocks": [
		{
			"name": "Service",
			"type": "service",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "service-image",
                    "label": "Image"
                },
				{
                    "type": "text",
                    "id": "service-heading",
                    "label": "Heading",
					"default": "Heading will go here"
                },
				{
                    "type": "richtext",
                    "id": "service-content",
                    "label": "Content",
					"default": "<p>Content will go here</p>"
                }
            ]
		}
	],
	"presets": [
		{
			"name": "Our Services"
		}
	]
  }
{% endschema %}